:root{
    --error-color:#dc3545;
    --success-color:#28a745;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(244, 244, 244, 0.4);
}
.form-content{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
body{
    font-size: 16px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-image: url(../image/project\ 5.jpeg);
    margin: 0 auto;
    padding: 1em;
    border-radius: 5px;
    width: 400px;
}
.form{
    padding: 10px 20px;
    width: 400px;
}
form h1{
    font-size: 2em;
    text-align: center;
    margin-bottom:  20px;
    
}
.form-field{
    margin-bottom: 5px;
}
.form-field label{
    display: block;
    color: black;
    margin-bottom: 5px;
}
.form-field input{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}
.form-field input:focus{
    outline: none;
}
.form-field.error input{
    border-color: var(--error-color);
}
.form-field.success input{
    border-color: var(--success-color);
}
.form-field small{
    color: var(--error-color);
}
.btn{
    width: 100%;
    padding: 3%;
    background-color: brown;
    border-bottom: 2px solid #007bff;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: black;
    text-transform: uppercase;
}
.form-check-label{
    color: black;
}
.btn:hover{
    background-color: rgb(56, 8, 8);
}
.btn:focus{
    outline: none;
}
small a{
    color: white;
}
small a:hover{
    text-decoration: none;
    font-size: 16px;
    color: black;
}